# -*- python -*-

from buildbot.plugins import changes, schedulers, steps, util, worker


# BuildmasterConfig is read by Buildbot.
conf = BuildmasterConfig = {}


# Define worker and connection information.
workerNames = ["worker_{}".format(zI) for zI in range(1, 3)]
passes = ["pass_{}".format(zI) for zI in range(1, 3)]
slaves = [worker.Worker(workerNames[zJ], passes[zJ]) for zJ in range(2)]
slavePort = 9990

# Define Git repository poller, which polls for changes on some branches.
thisRepoName = "buildbot-lets-explore"
thisRepoURL = "git://github.com/mvousden/{}".format(thisRepoName)
skipBranches = ["the-buildbot"]

def shouldSkip(branchCheck):
    if branchCheck == "HEAD":
        return False
    for branch in skipBranches:
        if branch == branchCheck.split("/")[-1]:
            return False
    return True

sourceChange = changes.GitPoller(thisRepoURL,
                                 branches=shouldSkip,
                                 project=thisRepoName,
                                 workdir="gitpoller",
                                 pollinterval=30,
                                 buildPushesWithNoCommits=True)

# Define operations to be conduced by the workers.
checkout = steps.Git(repourl=thisRepoURL,
                     haltOnFailure=True)

runTests = steps.ShellCommand(name="pytest",
                              command=["py.test"],
                              haltOnFailure=True)

buildPackageOps = []
for name in "first", "second", "third":
    buildPackageOps.append(steps.ShellCommand(
        name="build {} package".format(name), command=["make", name],
        haltOnFailure=True))

# Create build factories from operations, one for running tests, and one for
# performing builds.
testFactory = util.BuildFactory()
testFactory.addSteps([checkout, runTests])

buildFactory = util.BuildFactory()
buildFactory.addSteps([checkout] + buildPackageOps)

# Create builders from the build factories, which use slave workers to complete
# tasks from the factories.
masterTestBuilder = util.BuilderConfig(name="master-test", factory=testFactory,
                        workernames=[slaves[zI].name for zI in range(2)])

masterBuildBuilder = util.BuilderConfig(name="master-build",
                         factory=buildFactory,
                         workernames=[slaves[zI].name for zI in range(2)])

devTestBuilder = util.BuilderConfig(name="development-test",
                     factory=testFactory,
                     workernames=[slaves[zI].name for zI in range(2)])

devBuildBuilder = util.BuilderConfig(name="development-build",
                      factory=buildFactory,
                      workernames=[slaves[zI].name for zI in range(2)])

featTestBuilder = util.BuilderConfig(name="feature-test",
                      factory=testFactory,
                      workernames=[slaves[zI].name for zI in range(2)])

featBuildBuilder = util.BuilderConfig(name="feature-build",
                       factory=buildFactory,
                       workernames=[slaves[zI].name for zI in range(2)])

# This expression matches anything except 'example-master' and
# 'example-development'. Used for schedulers.
masterBranch = "example-master"
devBranch = "example-development"
otherBranch = lambda branch: branch not in [masterBranch, devBranch]

# Define a function to filter a commit message to determine if it should be
# built.
ciSkip = "[ci-skip]"
def skipCommit(change):
    if ciSkip in change.comments:
        return False
    return True

# Create schedulers. The first scheduler triggers tests from a change in the
# maserBranch of the source. The next scheduler triggers the build if the tests
# are successful. The schedulers after that follow the same pattern for the
# development and other branches.
#
# The "fileIsImportant" argument filters the change itself, and is a misnomer.

masterTestScheduler = schedulers.SingleBranchScheduler(
                          name="test-master-from-polling",
                          change_filter=util.ChangeFilter(
                              project=thisRepoName,
                              branch=masterBranch),
                          fileIsImportant=skipCommit,
                          builderNames=[str(masterTestBuilder.name)])

masterBuildScheduler = schedulers.Dependent(name="build-master-after-test",
                            upstream=masterTestScheduler,
                            builderNames=[str(masterBuildBuilder.name)])

devTestScheduler = schedulers.SingleBranchScheduler(
                       name="test-development-from-polling",
                       change_filter=util.ChangeFilter(
                           project=thisRepoName,
                           branch=devBranch),
                       fileIsImportant=skipCommit,
                       builderNames=[str(devTestBuilder.name)])

devBuildScheduler = schedulers.Dependent(name="build-development-after-test",
                        upstream=devTestScheduler,
                        builderNames=[str(devBuildBuilder.name)])

featTestScheduler = schedulers.SingleBranchScheduler(
                        name="test-feature-from-polling",
                        change_filter=util.ChangeFilter(
                            project=thisRepoName,
                            branch_fn=otherBranch),
                        fileIsImportant=skipCommit,
                        builderNames=[str(featTestBuilder.name)])

featBuildScheduler = schedulers.Dependent(name="build-feature-after-test",
                         upstream=featTestScheduler,
                         builderNames=[str(featBuildBuilder.name)])

# Create manually-triggered schedulers for each job as described above.
masterTestForce = schedulers.ForceScheduler(name="test-master-manual",
                      builderNames=[str(masterTestBuilder.name)])
masterBuildForce = schedulers.ForceScheduler(name="build-master-manual",
                       builderNames=[str(masterBuildBuilder.name)])

devTestForce = schedulers.ForceScheduler(name="test-development-manual",
                   builderNames=[str(devTestBuilder.name)])
devBuildForce = schedulers.ForceScheduler(name="build-development-manual",
                       builderNames=[str(devBuildBuilder.name)])

featTestForce = schedulers.ForceScheduler(name="test-feature-manual",
                    builderNames=[str(featTestBuilder.name)])
featBuildForce = schedulers.ForceScheduler(name="build-feature-manual",
                     builderNames=[str(featBuildBuilder.name)])

# Add resources to the configuration dictionary.
conf["builders"] = [masterTestBuilder, masterBuildBuilder,
                    devTestBuilder, devBuildBuilder,
                    featTestBuilder, featBuildBuilder]

conf["workers"] = slaves
conf["protocols"] = {"pb": {"port": slavePort}}
conf["change_source"] = [sourceChange]
conf["schedulers"] = [masterTestScheduler, masterBuildScheduler,
                      devTestScheduler, devBuildScheduler,
                      featTestScheduler, featBuildScheduler,
                      masterTestForce, masterBuildForce,
                      devTestForce, devBuildForce,
                      featTestForce, featBuildForce]

# Some master configuration for the GUI.
masterPort = 8010
conf["title"] = "Let's explore Buildbot!"
conf["buildbotURL"] = "http://localhost:{}/".format(masterPort)
conf["www"] = dict(port=masterPort,
                   plugins={"waterfall_view": {}, "console_view": {}})
conf["db"] = {"db_url": "sqlite:///state.sqlite"}
